.body{
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: auto;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

.image{
    border-radius: 20px;
    width: 700px;
    height: 300px;
    margin-top: 30px;
}

h1 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 40px;
    width: 100%;
    color: hsl(24, 5%, 18%);
    margin-bottom: 0; 
    padding-left: 70px;
}

.prep{
    font-size: 17px;
    width: 85%;
}

h3 {
    font-family: "Young Serif", serif;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 15px;
    color: hsl(332, 51%, 32%);
}

.subtitle {
    width: 90%;
    font-size: 16px;
    padding-bottom: 20px;
}

.content{
    width: 90%;
    font-size: 16px;
}

.subtitleHeading{
    font-weight: 700;
    font-size: 16px;
}

h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    padding-top: 20px;
}
 
.list1 {
    font-size: 16px;
}

.para{
    font-size: 16px;
}

.table {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

tr td{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.tableData{
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}

li {
    padding-left: 10px;
    padding-bottom: 10px;
}
